<h1>Welcome To Movie Review</h1>
<% if user_signed_in? %>
  <h2>Welcome back, <%= current_user.username %> </h2>
<% else %>
  <p>You are not signed in. 
    <%= link_to 'Sign In', new_user_session_path, class: 'link-underline-light' %>
    or
    <%= link_to 'Create an Account', new_user_registration_path, class: 'link-underline-light' %>
  </p>
<% end %>